body {
    background-color: #ffffff;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
   list-style-type: none;
   gap: 24px;
   width: 1440px;
   padding: 24px 156px;
}

/* .gallery-item {

}; */

.gallery-image {
    width: 360px;
    height: 200px;
}

.gallery-image:focus {
    transform: scale(1.05);
    z-index: 1;
    }

.gallery-image:hover {
    transform: scale(1.05);
    z-index: 1;
    }